/* Import Poppins font with font weights 100, 300, 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Define some variable */
:root {
    --background-color: #060606;
    --white: #ffffff;
    --light-gray: #7f848c;
    --dark-gray: #1d1a1a;
    --card-color: #0b0b0b;

    --header-height: 48px;
}

/*-------- Body --------*/
body {
    background-color: var(--background-color);

    /* Reset default styles */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------- Header --------*/
header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    z-index: 10;

    background-color: rgba(6,6,6,0.2);
}

/* Blur header background */
header::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";

    width: 100%;
    height: calc(var(--header-height) + 20px);

    z-index: -1;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Blur fade to transparent */
    mask-image: linear-gradient(to bottom,black 0px, black var(--header-height), transparent);
    -webkit-mask-image:linear-gradient(to bottom, black 0px, black var(--header-height),transparent);
}

/* Navbar */
header nav {
    height: 100%;
    width: 1150px;
    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--dark-gray);
}

/* Menu Burger Icon */
#menu-burger {
    width: 25px;
    visibility: hidden;
    margin-left: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

header nav .logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

header nav .menu-burger-container {
    height: 100%;

    display: flex;
    align-items: center;
}

/* Header Title */
header nav h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;

    cursor: default;
}

/* Header ul */
header nav ul {
    list-style: none;
    height: 100%;

    padding: 0;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    visibility: visible;

    font-family: 'Poppins';
    font-weight: 600;
}

/* Header li */
header nav li {
    margin-left: 30px;
    height: 100%;

    display: flex;
    align-items: center;

    cursor: pointer;
}

header nav li a {
    text-decoration: none;
    color: var(--white);
    transition: .2s;
}

/* Header li:hover */
header nav li:hover a {
    color: var(--light-gray);
}

/* Select the Projects text */
header nav li:nth-child(2) {
    position: relative;
    display: inline-flex;
}

/* Select the Projects chevron */
header nav li:nth-child(2) img {
    transition: .2s;
}

/* Select the Projects chevron */
header nav li:nth-child(2) img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(101%) contrast(104%);
    width: 14px;
    margin-left: 8px;
}

/* Projects chevron on hover */
header nav li:nth-child(2):hover .header-chevron {
    transform: rotate(180deg);
}

/* Select the window that appear when projects is hover */
.header-projects-container {
    position: absolute;
    width: 180px;
    height: fit-content;

    transform: translateX(-25%); /* To be centered */
    top: 30px;

    padding: 10px;

    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--dark-gray);

    visibility: hidden; /* Hidden when not hovered */
    opacity: 0;
    transition: .4s;
}

.header-projects-container a {
    display: block;
    width: 100%;
    height: 44px;

    padding-left: 5px;

    display: flex;
    align-items: center;

    text-decoration: none; /* Remove the underline */
    color: var(--light-gray);

    border-radius: 6px;

    box-sizing: border-box;
}

.header-projects-container a p {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

/* Select projects icon in .header-projects-container */
.header-projects-container a .header-projects-icon {
    width: 16px;
    filter: invert(56%) sepia(9%) saturate(302%) hue-rotate(178deg) brightness(91%) contrast(88%); /* gray */
    transition: 0s;
}

.header-projects-container a:hover {
    color: var(--white);
    background-color: var(--dark-gray);
}

/* Change the SVG color of icons when .header-projects-container is hovered */
.header-projects-container a:hover .header-projects-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(101%) contrast(104%); /* White */
}

/* When Projects is hovered, projects list window is shown */
li:nth-child(2):hover .header-projects-container {
    visibility: visible;
    opacity: 1;
    top: 42px;
}
/*-------- Header End --------*/

/*-------- Main --------*/
main {
    position: relative;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Set the size of main sections */
#home, #project, #about, #contact {
    width: min(1050px, 100%);
    height: 100vh;
}

/*-------- Home --------*/
#home {
    padding-top: var(--header-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 100px;

    border-bottom: 1px solid var(--dark-gray);
}

#home .top-part {
    position: relative;
    height: 430px;
    width: 100%;

    display: flex;
    align-items: end;
    margin-bottom: 70px;
}

#home .top-part .background {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 25px 30px #060606; 
    box-shadow: inset 0px 0px 25px 30px #060606;
    overflow: hidden;
}

#home .top-part .background div {
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    padding: 6px;
    z-index: -2;
}

/* Home background icon */
#wordpress, #html, #css, #javascript {
    position: absolute;
    opacity: 0.5;
    background-size: cover; /* or background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
}

#wordpress {
    top: 60%;
    left: 12%;
    box-shadow: 0px 0px 100px 20px rgba(2,140,176,0.75);
}

#html {
    top: 24%;
    left: 30%;
    box-shadow: 0px 0px 100px 20px rgba(228,77,38,0.75);
}

#css {
    top: 54%;
    left: 54%;
    box-shadow: 0px 0px 100px 20px rgba(17,114,184,0.75);
}

#javascript {
    top: 28%;
    left: 76%;
    box-shadow: 0px 0px 100px 20px rgba(247,223,30,0.75);
}

#home .top-part .picture {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 0;
    width: 400px;
    height: 400px;
    background-image: url('src/img/picture1.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
 
#home .text {
    width: min(780px, 90vw);
    margin-left: 5vw;
    margin-right: 5vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .text * {
    margin: 0;
}

#home .text h1:nth-child(1) {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 4px;

    color: transparent;
    background-image: linear-gradient(to right, #4159ac, #673fd7);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 22px;
}

#home .text h1:nth-child(2) {
    font-size: 27px;
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    color: var(--white);
    margin-bottom: 22px;
}

#home p {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
    color: var(--light-gray);
}
/*-------- Home End --------*/
/*-------- Projects --------*/
#project {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid var(--dark-gray);
    height: fit-content;

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    scroll-margin-top: 40px;
}

#project .light.n1 {
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(
        800px circle at 50% 50%, 
        #ff9d00a8,
        transparent 40%
    );
    left: -25%;
    top: 25%;
    opacity: .05;
    z-index: -1;
}

#project .light.n2 {
    position: absolute;
    width: 650px;
    height: 650px;
    background: radial-gradient(
        650px circle at 50% 50%, 
        #ff6262c3,
        transparent 40%
    );
    left: 55%;
    top: 14%;
    opacity: .05;
    z-index: -1;
}

/* Project Text Container */
#project .text {
    margin-left: 50px;
    margin-right: 50px;
}

/* Project Title */
.project-title {
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 700;
    width: fit-content;

    color: transparent;
    background-image: linear-gradient(to right, #ff6262, #ff9c00);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 22px;
}

/* Project Description */
.project-description {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--light-gray);
    margin-bottom: 70px;
}

/* Projects card container */
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    width: calc(100% - 50px);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: .85;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: calc((100% - 16px) / 3);
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.card .card-info-container {
    margin-top: auto;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    padding-bottom: 20px;
    height: fit-content;
}

.card .card-icon {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-icon img {
    width: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

.card .card-title {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    padding-left: 6px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
}

.card .card-description {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: var(--light-gray);
}

/*-------- Projects End --------*/
/*-------- About --------*/
#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--dark-gray);
    height: fit-content;
    scroll-margin-top: 100px;
}

.about-info-container {
    width: calc(60% - 75px);
}

.about-info-container .about-title {
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, #ff62d8, #5a00ff);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 22px;
}
  
.about-info-container .about-description {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--light-gray);
    text-align: justify;
    margin: 0;
    line-height: 30px;
}

.about-picture {
    background: url(src/img/picture2.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 400px;
    width: calc(40% - 25px);
    align-self: center; /* Ajoutez cette ligne pour aligner l'image en bas de la cellule de la grille */
}

.about-social-container {
    width: calc(100% - 50px);
    height: fit-content;
    margin-top: 70px;
    gap: 8px;

    display: flex;
    flex-direction: row;
}

.social-card {
    width: calc((100% - 16px) / 3);
    height: auto;
    background-color: rgba(11, 11, 11, 0.98);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none;
}

.social-card:hover {
    background-color: rgba(20, 20, 20, 0.98);
}

.social-card h1 {
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}

.social-card div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.social-card img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.social-card p {
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--light-gray);
    margin: 0;
}

#contact {
    padding-top: 80px;
    padding-bottom: 80px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    scroll-margin-top: 180px;
}

#contact .info-part {
    width: 40%;
    height: 100%;
    padding-left: 50px;
}

#contact .info-part .title {
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 700;
    width: fit-content;

    color: transparent;
    background-image: linear-gradient(to right, #62ff62, #e4ff00);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 70px;
}

#contact .info-part div {
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-rows: 30px 1fr;
    padding-bottom: 45px;
}

#contact .info-part div img {
    grid-area: 1 / 1 / 2 / 2;
    width: 20px;

    align-self: center;
    justify-self: left;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(125deg) brightness(105%) contrast(101%);
}

#contact .info-part div h1 {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;

    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
}

#contact .info-part div p {
    grid-area: 2 / 2 / 3 / 3;
    color: var(--light-gray);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
}

#contact .contact-form {
    width: calc(60% - 35px);
    height: fit-content;
    border-radius: 10px;
    padding: 35px;
    margin-right: 25px;
    background-color: rgba(11, 11, 11, 0.98);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
}

#contact .contact-form label {
    display: none;
}

#contact .contact-form * {
    background-color: transparent;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: calc(100% - 32px);
    margin-bottom: 10px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: border 200ms;
    color: var(--light-gray);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

#contact .contact-form input::placeholder,
#contact .contact-form textarea::placeholder {
    color: var(--light-gray);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

#contact .contact-form input:focus::placeholder,
#contact .contact-form textarea:focus::placeholder {
    color: transparent;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
    border: 1px solid #62ff62;
    caret-color: var(--light-gray);
}

#contact .contact-form #email:invalid {
    border: 1px solid rgb(233, 45, 45);
}

#contact .contact-form textarea {
    resize: vertical;
    padding-top: 16px;
    height: 140px;
}

#contact .contact-form .contact-form-submit {
    border: 2px solid #62ff62;
    color: var(--white);
    opacity: 0.5;
    transition: 500ms;
    width: 150px;
    float: right;
    margin: 0;
    cursor: pointer;
}

#contact .contact-form .contact-form-submit:hover {
    opacity: 1;
}

/* Loading circle when submit button pressed */
#contact .contact-form .submit-loading {
    border: 6px solid var(--dark-gray); /* Light grey */
    border-top: 6px solid #62ff62; /* Blue */
    border-radius: 50%;
    width: calc(40px - 11px);
    height: calc(40px - 11px);
    animation: spin 1s linear infinite;
    float: right;
    display: none;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    border-top: 1px solid var(--dark-gray);
    height: fit-content;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

footer .container {
    width: min(1050px, 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
}

footer .logo {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

footer a,
footer p,
footer h1 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: var(--light-gray);
    text-decoration: none;
    margin: 0;
    margin-bottom: 12px;
    transition: color 300ms;
}

footer a:hover {
    color: var(--white);
}

footer h1 {
    color: var(--white);
}

footer section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
}

footer .page {
    margin-left: auto;
}

footer .container .info div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 12px;
}

footer .container .info div h1 {
    margin: 0;
}

@media (max-width: 800px) {
    /*-------- Projects --------*/
    .card {
        width: calc((100% - 8px) / 2);
    }

    /*-------- About --------*/
    .about-info-container {
        width: calc(100% - 100px);
    }

    .about-social-container {
        width: calc(50% - 50px);
        flex-direction: column;
        align-items: end;
    }

    .social-card {
        width: calc(100% - 48px);
        padding: 24px;
    }

    .about-picture {
        width: 50%;
        background-position: center;
    }

    #contact {
        flex-direction: column;
        align-items: center;
    }

    #contact .info-part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #contact .info-part div {
        padding-bottom: 0;
        margin-bottom: max(2.4vw, 15px);
    }

    #contact .info-part .title {
        flex-basis: 100%;
        margin-left: 0;
        font-size: max(5vw, 16px);
        margin-bottom: max(2.4vw, 15px);
    }

    #contact .info-part .phone-number {
        margin-left: 0;
        margin-right: 70px;
    }

    
    #contact .contact-form {
        width: calc(100% - 120px);
        margin-right: 25px;
        margin-left: 25px;
    }

    footer section {
        width: calc(50% - 50px);
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 25px;
    }
}

/*-------- Main End --------*/

/*-------- Mobile Screen Size --------*/
@media (max-width: 700px) {
    /*-------- Header -------- */
    /* Show the menu burger icon */
    #menu-burger {
        visibility: visible;
    }

    /* Hide the projects chevron */
    .header-chevron {
        display: none;
    }

    /* Set style for all text elements in <header> */
    header a,
    .header-projects-container a p {
        color: var(--white);
        font-size: 16px;
        margin: 0;
    }

    header nav {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
    }

    /* Select all <ul> */
    header nav ul {
        width: 100%;
        height: fit-content;
        margin: 0;

        display: flex;
        align-items: flex-start;
        flex-direction: column;

        display: none;
        visibility: hidden;
        opacity: 0;
    }

    /* Select all <li> */
    header nav ul li {
        margin: 0;
        padding: 0;
        width: 100%;

        height: var(--header-height);
        border-bottom: 1px solid var(--dark-gray);
    }

    /* Select Projects <li> */
    header nav ul li:nth-child(2) {
        order: 4;
        position: relative;
    }

    /* Select .header-projects-container whether it is being hovered or not */
    header nav ul li:nth-child(2):hover .header-projects-container,
    .header-projects-container {
        position: absolute;
        top: 100%;
        visibility: visible;
        opacity: 1;
        width: 100%;
        padding: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;

        /* reset slide animation */
        transform: translate(0);
        top: 100%;
      }

    /* remove all projects <img> */
    .header-projects-container a img {
        display: none;
    }

    /* Select .header-projects-container <a> whether it is being hovered or not */
    .header-projects-container a:hover,
    .header-projects-container a {
        background-color: transparent;
        height: calc(var(--header-height) + 1px);
        border-bottom: 1px solid var(--dark-gray);
        border-radius: 0;
        padding: 0;
    }

    header.active::before {
        height: 100vh;

        background-color: rgba(6, 6, 6, 0.6);
        mask-image: none;
        -webkit-mask-image: none;
        
        backdrop-filter: blur(12px); 
        -webkit-backdrop-filter: blur(12px);
    }

    /* Show the navbar when header have .active class */
    header.active nav ul {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    /*--------- Header End --------*/

    /*-------- Home --------*/
    #home {
        padding-bottom: max(9vw, 70px);
    }

    #home .text h1:nth-child(1) {
        font-size: max(4.5vw, 12px);
        margin-bottom: max(2.4vw, 15px);
        margin-top: max(8vw, 50px);
    }

    #home .text h1:nth-child(2) {
        text-align: center;
        font-size: max(5vw, 16px);
        margin-bottom: max(2.4vw, 15px);
    }

    #home p {
        text-align: center;
        font-size: max(3vw, 14px);
    }

    #home .top-part {
        height: 60vw;
        margin-bottom: 0;
    }

    #home .top-part .picture {
        width: 60vw;
        height: 60vw;
    }

    /* Remove Home box shadow */
    #home .top-part .background {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /* Home background gradient */
    #home .top-part .background::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: rgb(6,6,6);
        background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(0,0,0,0) 100%); 
    }

    #home .top-part .background div {
        width: 10vw;
        height: 10vw;
    }
    /*-------- Home End --------*/
    #project {
        padding-top: max(9vw, 60px);
        padding-bottom: max(9vw, 60px);
    }

    #project .text {
        width: calc(100% - 50px);
    }

    .project-title {
        font-size: max(5vw, 16px);
        width: fit-content;
        margin-bottom: max(2.4vw, 15px);
    }
    
    /* Project Description */
    .project-description {
        font-size: max(3vw, 14px);
        margin-bottom: max(8vw, 40px)
    }

    #about {
        padding-top: max(9vw, 60px);
        padding-bottom: max(9vw, 60px);
    }

    .about-info-container {
        width: calc(100% - 50px);
        margin-bottom: max(8vw, 40px)
    }

    .about-info-container .about-description {
        font-size: max(3vw, 14px);
        line-height: inherit;
    }

    .about-info-container .about-title {
        font-size: max(5vw, 16px);
        width: fit-content;
        margin-bottom: max(2.4vw, 15px);
    }

    .about-picture {
        display: none;
    }

    .about-social-container {
        width: calc(100% - 50px);
        margin-top: 0;
        flex-direction: column;
    }

    .social-card {
        width: calc(100% - 48px);
        padding: 24px;
    }
}


@media (max-width: 550px) {
    .card {
        width: 100%;
    }

    footer section {
        width: calc(100% - 50px);
    }
}

@media (max-width: 400px) {
    .social-card {
        width: calc(100% - 24px);
        padding: 12px;
    }

    .social-card div {
        margin: 0;
    }

    .social-card p {
        display: none;
    }
}



.fenetre-modale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: var(--card-color);
    border: 1px solid #62ff62;
    color: var(--white);
    -webkit-box-shadow: 0px 0px 10px 8px var(--card-color); 
    box-shadow: 0px 0px 10px 8px var(--card-color);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.fenetre-modale p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.fenetre-modale button {
    background-color: var(--card-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    outline: none;
    width: 90px;
    height: 40px;
    color: var(--white);
    font-family: 'Poppins';
    cursor: pointer;
    transition: border 500ms;
}

.fenetre-modale button:hover {
    border-color: var(--light-gray);
}