/* Import Poppins Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Remove Default styles */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Import Variable */
:root {
   --white: #f7f8f8;
   --black: #060606;
   --gray: #8A8F98;
   --dark-gray: #1a1a1a;

   --header-height: 48px;
}

body {
    background-color: var(--black);

    text-rendering: optimizelegibility;
}

/*-------- Header --------*/

/* header */
header {
    width: 100%;
    height: var(--header-height);

    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;

    transition: .4s;
    z-index: 1;
}

/* header::before (For the blurred background) */
header::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: -1;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter:blur(12px);
    mask-image: linear-gradient(to bottom,black var(--header-height),transparent);
    -webkit-mask-image:linear-gradient(to bottom,black var(--header-height),transparent);
}

/* header::before (For the blurred background) */
nav {
    width: 1150px;
    height: var(--header-height);

    display: flex;
    align-items: center;

    color: var(--white);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    border-bottom: 1px solid var(--dark-gray);
    margin-right: 40px;
    margin-left: 40px;
}

/* header title */
nav h1 {
    font-size: 16px;
    font-weight: 600;
    cursor: default;
}

/* header menu burger */
nav .menu-burger {
    display: none;
}

/* header ul */
nav ul {
    display:inline-flex;
    margin-left: auto;
    height: 100%;
}

/* header li */
nav li {
    margin-left: 30px;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
}

/* transition for hover */
nav li a {
    transition: .4s;
}

/* different margin for the projects arrow */
nav li:nth-child(3){
    margin-left: 20px;
}

/* header projects menu */
nav li:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* projects menu arrow */
nav li:nth-child(2) img {
    filter: invert(94%) sepia(0%) saturate(2813%) hue-rotate(195deg) brightness(106%) contrast(94%);
    margin-left: 8px;
    width: 12px;
    transition: .2s;
}

/* rotate projects arrow on hover */
nav li:nth-child(2):hover img {
    transform: rotate(180deg);
}

/*-------- Main --------*/
main {
    width: 100%;
    height: 5000px;

    display: flex;
    justify-content: center;
}

/* Define style for all sections */
main section {
    width: 1050px;
    height: 100vh;
}

/*-------- Accueil -------- */
.accueil .text-container {
    margin-top: 400px;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.accueil .text-container p {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.accueil .text-container p:nth-child(1){
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%) padding-box text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 3px;
}

.accueil .text-container p:nth-child(2){
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

.accueil .text-container p:nth-child(3){
    width: 850px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    color: var(--gray);
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Header style only for computer screen size */
@media (min-width: 641px) {
    /* header text hover */
    nav li:hover a {
        color: var(--gray);
    }

    /* disable text hover when hovering projects window */
    nav li:nth-child(2):hover a {
        color: var(--white);
    }

    /* header projects window */
    .projets-window-container {
        opacity: 0%;
        position: absolute;
        background-color: var(--black);
        border: 1px solid var(--dark-gray);
        transform: translateY(100px);
        border-radius: 10px;
        padding: 10px;
        width: 150px;
        transition: .2s;
        visibility: hidden;
    }
    
    /* header projects window text box */
    .projects-window-text-box {
        font-size: 15px;
        border-radius: 6px;
        padding: 10px;
        color: var(--gray);
    }

    .projects-window-text-box:hover {
        background-color: var(--dark-gray);
    }
    
    .projects-window-text-box:hover p {
        color: var(--white);
    }
    
    /* show project window when project text hover */
    nav li:nth-child(2):hover .projets-window-container{
        opacity: 100%;
        visibility: visible;
        transform: translateY(114px);
    }
}

@media (max-width: 850px) {
    .accueil .text-container p:nth-child(3) {
        width: 100%;
    }
}

/* Tablet Size */
@media (max-width: 640px) {
    header {
        height: 100vh;
    }

    /* When burger menu clicked */
    header.active {
        backdrop-filter: blur(10px);
    }

    /* navbar */
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    /* Menu burger */
    nav .menu-burger {
        display: block;
        filter: invert(94%) sepia(0%) saturate(2813%) hue-rotate(195deg) brightness(106%) contrast(94%);
        width: 18px;
        margin-left: auto;
    }

    /* Hide ul when burger menu button isnt clicked */
    nav ul {
        display: none;
    }

    /* Show ul when burger menu button is clicked */
    nav ul.active {
        position: absolute;
        top: var(--header-height);
        display: flex;
        flex-direction: column;
        width: calc(100vw - 80px);
    }

    /* Select each li */
    nav li:nth-child(n){
        height: var(--header-height);
        margin: 0;
        padding: 0;
        justify-content: normal;
        align-items: center;
        border-bottom: 1px solid var(--dark-gray);
    }

    /* Change li text color when hover */
    nav li:nth-child(n) a:hover {
        color: var(--gray);
    }

    /* Change order to set the Project button at the end */
    nav li:nth-child(2) {
        order: 2;

        display: flex;
        align-items: center;
    }

    /* Hide the projects arrow */
    nav li:nth-child(2) img {
        display: none;
    }

    /* Projects window container */
    .projets-window-container {
        position: absolute;
        visibility: visible;
        opacity: 100;

        display: flex;
        flex-direction: column;
        transform: translateY(125px);
        width: calc(100vw - 80px);
    }

    /* Projects window text box */
    .projects-window-text-box {
        height: var(--header-height);
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--dark-gray);
    }

    /* Projects window text box on hover */
    .projects-window-text-box:hover {
        color: var(--gray);
        transition: .4s;
    }
}
  